#map {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #D90429;
    border-radius: 50px;
    border-collapse: separate;
    border-spacing: 15px;
}


/* aici e background*/

body {
    background-color: #EDF2F4;
}


/* aici e navbar litere*/

nav .navbar-nav li a {
    color: #8D99AE!important;
    font-size: 20px;
}


/* aici e navbar background*/

.bg-color {
    background-color: #2B2D42;
}