#map {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #212529;
    border-radius: 50px;
    border-collapse: separate;
    border-spacing: 15px;
}


/* aici e background*/

body {
    background-color: #EDF2F4;
    font-family: 'Asap', sans-serif;
}


/* aici e navbar litere*/

nav .navbar-nav li a {
    color: #d8dbe2!important;
    font-size: 20px;
}


/* aici e navbar background*/

.bg-color {
    background-color: #495057;
}

#team {
    margin: auto;
    width: 50%;
    padding: 10px;
}


/*Buttons */

.mybtn {
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px;
}

.mybtn:hover {
    background-color: #003049;
    color: #EDF2F4;
}

.my_height {
    height: 750px;
}